name: .NET Release CI/CD Test

on:
  push:
    tags:
      - 'v*.*.*'

jobs:
  build-and-test:
    name: Build and Test Application
    uses: aik0n/ci-cd-hub/.github/workflows/dotnet-build-test.yml@main
    with:
      dotnet-version: '8.0.x'
      project-path: './WebApp'
      test-project-path: './Tests/WebApp.Tests.Unit/WebApp.Tests.Unit.csproj'
      build-configuration: 'Release'
      test-verbosity: 'detailed'
      run-tests: true
      collect-coverage: true